

* {
	padding: 0;
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 18pt;
	background: #B5BDC8;
	position: relative;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 24pt;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4pt;
}

h1.header {
	margin: 0 auto;
	height: 60px;
	color: #FFF;
	text-align: center;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 14pt;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4pt;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 14pt;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20pt;
}

blockquote {
	font-family: 'Roboto', sans-serif;
	font-size: 21pt;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30pt;
}

pre {
	font-family: 'Roboto', sans-serif;
	font-size: 13pt;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5667pt;
}

#bar-top,
#bar-bottom {
	height: 60px;
	position: absolute;
	width: 100%;
}

#header,
#footer {
	width: 800px;
	margin: 0 auto;
	height: 60px;
}

#bar-top {
	top: 0;
	background: #28343b;
	background: -moz-linear-gradient(top, #28343b 0%, #828c95 64%, #b5bdc8 100%);
	background: -webkit-linear-gradient(top, #28343b 0%, #828c95 64%, #b5bdc8 100%);
	background: linear-gradient(to bottom, #28343b 0%, #828c95 64%, #b5bdc8 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#28343b', endColorstr='#b5bdc8', GradientType=0);
	-webkit-box-shadow: 0px 2px 5px 0px rgba(181, 189, 200, 1);
	-moz-box-shadow: 0px 2px 5px 0px rgba(181, 189, 200, 1);
	box-shadow: 0px 2px 5px 0px rgba(181, 189, 200, 1);
}

#bar-bottom {
	bottom: 0;
	background: #b5bdc8;
	background: -moz-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%);
	background: -webkit-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%);
	background: linear-gradient(to bottom, #b5bdc8 0%, #828c95 36%, #28343b 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b', GradientType=0);
	-webkit-box-shadow: 0px -2px 5px 0px rgba(181, 189, 200, 1);
	-moz-box-shadow: 0px -2px 5px 0px rgba(181, 189, 200, 1);
	box-shadow: 0px -2px 5px 0px rgba(181, 189, 200, 1);
}

#content-modules {
	height: 100%;
	background: #B5BDC8;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 1);
}

#module-center {
	margin: 0 auto;
	background: #FFF;
	width: 800px;
	height: 100%;
}

