:root {
  --color-red: #EE1111;
  --color-dk-red: #B91D47;
  --color-lt-green: #99B433;
  --color-green: #00A300;
  --color-dk-green: #1E7145;
  --color-lt-blue: #EFF4FF;
  --color-blue: #2D89EF;
  --color-dk-blue: #2B5797;
  --color-cyan: #00ABA9;
  --color-yellow: #E3A21A;
  --color-magenta: #FF0097;
  --color-lt-purple: #9F00A7;
  --color-purple: #7E3878;
  --color-dk-purple: #603CBA;
  --color-orange: #E3A21A;
  --color-dk-orange: #DA532C;
  --color-black: #000000;
  --color-dark: #1D1D1D;
  --color-white: #FFFFFF;
  --color-light: #FAFAFA;
  --color-highlight: #FFFF00;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
  font-family: 'Titillium Web', sans-serif;
  background: var(--color-light);
  color: var(--color-light);
}
header {
  text-align: center;
  width: auto;
}
p.indent {
  text-indent: 2em;
}
.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  min-width: 960px;
}
nav.top-menu {
  min-height: 60px;
  display: inline-flex;
  background: var(--color-dark);
  width: auto;
}
nav.top-menu a {
  background: var(--color-dark);
  white-space: nowrap;
  padding: 0 32px;
  line-height: 60px;
  height: 60px;
  float: left;
  color: var(--color-yellow);
  font-size: 1.4em;
  text-align: center;
  text-decoration: none;
  transition: background 0.5s ease-out, color 0.5s ease-out, box-shadow 0.5s ease-out;
}
nav.top-menu a:hover {
  box-shadow: 0 4px 16px 2px rgba(227, 162, 26, 0.2);
  background: var(--color-yellow);
  color: var(--color-dark);
  transition: background 0.5s ease-out, color 0.5s ease-out, box-shadow 0.5s ease-out;
}
nav.top-menu .active {
  background: var(--color-yellow);
  color: var(--color-dark);
  transition: background 0.5s ease-out, color 0.5s ease-out, box-shadow 0.5s ease-out;
}
nav.top-menu .title {
  width: 100%;
}
.main-body {
  min-width: 960px;
  padding: 16px;
}
.placard {
  background: var(--color-white);
  border: 1px solid rgba(29, 29, 29, 0.25);
  color: var(--color-dark);
  padding: 8px;
  border-radius: 4px;
  line-height: 32px;
}
.glow {
  box-shadow: 0 0 8px 2px rgba(227, 162, 26, 0.2);
  transition: 0.3s;
}
.glow:hover {
  box-shadow: 0 4px 16px 2px rgba(227, 162, 26, 0.2);
}
.force-width-auto {
  width: auto;
}
.force-display-block {
  display: block;
}
.highlight {
  font-style: italic;
  font-weight: bold;
  border-radius: 16px;
  background: var(--color-yellow);
/*  padding: 0 8px;*/
  color: var(--color-white);
  text-shadow: 1px 1px var(--color-dark);
  box-shadow: 1px 1px var(--color-dark);
  border: 1px solid rgba(29, 29, 29, 0.2);
  margin: 0 2px;
}
.dark-text {
  color: var(--color-dark);
}
@media only screen and (max-width: 480px) {
  .main-container, .main-body {
    min-width: auto;
  }
  .main-container, nav.top-menu, nav.top-menu .title, nav.top-menu a {
    width: auto;
  }
  nav.top-menu {
    display: flex;
    flex-direction: column;
  }
  nav.top-menu a {
    line-height: 40px;
    height: 40px;
    font-size: 1.2em;
  }
}