html, body {
     height: 100%;
}
 body {
     position: relative;
    /* 1. Position relative because of absolute child elements */
     padding: 60px 0 60px 0;
    /* 2. Using padding to define strech-able space */
     box-sizing: border-box;
    /* 3. Box sizing to subtract padding and border from the 100% height of this element when child elements define 100% height */
}
 #bar-top, #bar-bottom {
     height: 60px;
     position: absolute;
    /* 4. Setting fixed height elements to absolute */
     width: 100%;
    /* When absolute a width has to be defined */
}
 #bar-top {
     top: 0;
    /* Position absolute top bar */
}
 #bar-bottom {
     bottom: 0;
    /* Positi2on absolute bottom bar */
}
 #content-modules {
     height: 100%;
    /* 100% now refers to the remaining space of the parent after padding and borders are set */
}
